name: "Publish to NPM"
on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  publish:
    name: "Publish"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Install pnpm"
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: "Setup Node.js"
        uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org/"

      - name: "Install dependencies"
        run: pnpm install --frozen-lockfile

      - name: "Publish to NPM"
        run: npx semantic-release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}